ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
  color: white;
  display:flex;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
}

li a:hover {
  background-color: #111;
}

.logo {
  width:50px;
}

.admin-icon {
  width: 50px;
  height: 45px;
}



